.container {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.form input, .form textarea, .form select{
    padding: 30px;
    background-color: var(--bg);
    color: var(--textSoft);
    border-radius: 5px;
    margin-bottom: 30px;
    border: 2px solid #2e374a;
}

.form input, .form select {
    width: 45%;
}

.from textarea {
    width: 100%;
}

.form button{
    width: 100%;
    padding: 30px;
    background-color: teal;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: var(--text);
}


